#primary {
  padding-block: 25px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 14px;
  border-inline: none;
  background-color: #06aa48;
  justify-content: space-around;
}

h1 {
  color: #06aa48 !important;
  font-size: 45px;
  font-style: oblique;
}

#intro {
  margin-left: 70px;
  margin-right: 70px;
}

input[type="text"] {
  background-color: var(--verde);
  border-radius: 10px;
  color: white;
  padding: 5px;
  border-style: none;
  outline: none;
}



.menu{
color: white;
text-decoration: none;
}

.carousel-caption,.d-none,.d-md-block{

color:var(--branco)!important;

}